
<div class="container">
  
        <div class="row" style="padding-top:5%" >
            <div class="col-4" *ngFor="let item of values; let i = index">
              <div class="card" style="width: 18rem;">
              
                <div class="card-body">
                  <p class="card-text">{{item.name}}</p>
                  <p class="card-text">{{item.phone}}</p>
                  <p class="card-text">{{item.id}}</p>
                  <p class="card-text">{{item.address}}</p>
                  <button  type="button" class="btn btn-primary" (click)="openDialog('add')">Add</button><br/>
                  <button type="button" class="btn btn-secondary" (click)="openDialog('edit')">Edit</button><br/>
                  <button type="button" class="btn btn-success">Delete</button>
                </div>
              </div>
            </div>
        
        </div>
  
 
</div>
