<div class="container">
  
        <div class="row" style="padding-top:5%" >
            <div class="col-4" >
              <div class="card" style="width: 18rem;">
              
                <div class="card-body">
                  <p *ngFor="let item of graphService.values; let i = index" class="card-text">
                    
                    <img src="{{item.avatar}}" height="20" width="20"/>
                    {{item.first_name}} {{item.last_name}}
                   
                  </p>
                  
                  <button  type="button" class="btn btn-primary" (click)="openDialog('add')">Add</button><br/>
                  <button type="button" class="btn btn-secondary" (click)="openDialog('edit')">Edit</button><br/>
                  <button type="button" class="btn btn-success">Delete</button>
                </div>
              </div>
            </div>
        </div>
</div>
