.example-spacer {
    flex: 1 1 auto;
  }

  span
  {
      padding-right: 1rem;
  }
  a{
      color:white;
      text-decoration: none;
  }
  a:hover{
      color:white;
  }
  .example-container {

    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  