
<div class="container-fluid" style="margin-top:3%;margin-left:1%;width:97vw">
<div class="row">
    <div class="col-5">
        <div class="card">
            <img src="assets/settings.svg" class="settings" />
            <div class="card-body">
              <h5 class="card-title">Herd Health Overview</h5>
              <div [chart]="chart"style="height:380px"></div>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" >
            <img src="assets/settings.svg" class="settings" />
            <div class="card-body">
              <h5 class="card-title">Herd Health Level</h5>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card" >
            <img src="assets/settings.svg" class="settings" />
            <div class="card-body">
              <h5 class="card-title">Status</h5>
            
            </div>
          </div>
    </div>
</div>
<div class="row" style="margin-top:2%">
    <div class="col-8">
        <div class="card" >
            <img src="assets/settings.svg" class="settings" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" >
            <img src="assets/settings.svg" class="settings" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
</div>


