.card
{
    height:453px;
    border-radius: 10px;
}
.card-title{
    height: 41px;
    margin: 0 52px 0 0;
    /* font-family: 'OpenSans'; */
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    color:#0055a5;
}
.settings
{
    width: 20px; 
    height: 20px;
    position:absolute;
    right:3px;
    top:5px;
}